@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-roboto;
  }
}

@layer components {
  .size-selector input:checked + label {
    @apply bg-primary text-white;
  }

  .payment-method input:not(:checked) + label .check {
    @apply hidden;
  }
  .payment-method input:not(:checked) + label {
    @apply border-gray-200;
  }

  .color-selector input:checked + label {
    @apply ring-2 ring-primary;
  }

  .hero-slide {
    @apply h-auto flex relative overflow-hidden;
  }

  .slide-image {
    @apply h-full w-full absolute inset-0 flex items-center justify-center;
  }

  .slide-image img {
    object-position: 46%;
    @apply w-auto h-full object-cover md:object-right;
  }

  .hero-slider .content {
    @apply m-auto relative z-10;
  }

  .wrapper-image > div:first-child {
    @apply static !important;
  }

  .thumbnail .slick-slide.slick-active.slick-current .thumb-img {
    @apply border-4 border-solid border-primary !important;
  }

  button,
  a {
    @apply focus:outline-none;
  }

  .shadow-box {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
  }

  input:focus {
    @apply outline-none ring-0 !important;
  }
}

.fileUploader {
  width: 100%;
}

.fileContainer {
  background: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  transition: all 0.3s ease-in;
}

.fileContainer input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.fileContainer p {
  font-size: 12px;
  margin: 8px 0 4px;
}

.fileContainer .errorsContainer {
  max-width: 300px;
  font-size: 12px;
  color: red;
  text-align: left;
}

.fileContainer .chooseFileButton {
  padding: 6px 23px;
  background: #3f4257;
  border-radius: 30px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
}

.fileContainer .chooseFileButton:hover {
  background: #545972;
}

.fileContainer .uploadFilesButton {
  padding: 5px 43px;
  background: transparent;
  border-radius: 4px;
  color: #3f4257;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: 1px solid #3f4257;
}

.fileContainer .uploadFilesButton:hover {
  background: #3f4257;
  color: #fff;
}

.fileContainer .uploadIcon {
  width: 50px;
  height: 50px;
}

.fileContainer .uploadPicturesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.fileContainer .uploadPictureContainer {
  width: 25%;
  margin: 5%;
  padding: 10px;
  background: #edf2f6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #d0dbe4;
  position: relative;
}

.fileContainer .uploadPictureContainer img.uploadPicture {
  width: 100%;
}

.fileContainer .deleteImage {
  position: absolute;
  top: -9px;
  right: -9px;
  color: #fff;
  background: #ff4081;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.flipMove {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
